@media (min-width: 320px) and (max-width: 600px ) {

	/* MOBILE*********************** */

	body{
		background-color: salmon;
	}

	/* VIDEO SECTION */

	.bg-video {
		position: relative;
		height: 80vh;
	}

	.header-video {
		height: 80vh;
	}

	.video-content {
		background-color: pink;
		bottom: 0;
		left: 1rem;
		right: 1rem;
		bottom: 42px;
		position: absolute;
	}

	.header-overlay {
	  width: 100vw;
		height: 80vh;
	}

	.video-content h1 {
		/* color: tomato; */
		font-size: 35px;
		line-height: 36px;
		text-align: center;
		/* background-color: green; */
	}

	.video-content h2 {
		/* background-color: lightblue; */
		display: block;
	  font-size: 16PX;
	  line-height: 19px;
	  display: block;
		text-align: center;
	}

	.video-content a {
		/* background-color: tomato; */
		font-size: 16px;
		text-align: center;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		width: 200px;
		height: 48px;
	}

	.button {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* END VIDEO SECTION */

	/* ABOUT SECTION ************************/
	.about-block {
		height: auto;
		margin-top: 52px;
		margin-bottom: 40px;
	}

	.about-block img {

	}

	.tag {
		height: 40px;
		width: 280px;
		padding-left: 1rem;
		margin: 0 auto;
		margin-top: -20px;
	}

	.about-text p {
		background-color: teal;
		font-size: 16px;
		font-weight: 300;
		line-height: 29px;
		padding: 0 1rem;
		margin: 0 auto;
	}


	.tag h3 {
		background-color: tomato;
		display: inline-block;
		font-size: 12px;
		font-weight: bold;
		margin-top: -1.2rem;
	}

	.about-text {
		background-color: pink;
	}

	.about-text h2 {
		/* background-color: lightblue; */
		font-size: 28px;
		font-weight: 900;
		color: #444444;
		margin-top: -50px;
		text-align: center;
		margin-top: -16px;
		margin-left: auto;
		margin-right: auto;
	}

	.white-line {
		width: 180px;
		margin-top: -16px;
		height: 2px;
	}

	.about-block a {
		/* background-color: blue; */
		font-size: 16px;
		text-align: center;
		margin-top: 40px;
		height: 48px;
		margin-left: auto;
		margin-right: auto;
		width: 260px;
	}


	/* END ABOUT SECTION */

	/* KPI SECTION*************** */

	.kpi-block {

	}

	.central-tag {
		width: 100%;
		height: 40px;
		margin: 0 15px;
	}

	.central-tag p {
	  font-size: 12px;
		/* color: blue; */
		font-weight: 900;
		margin-top: -25px;
	}

	.tittle-text {
	  /* background-color: pink; */
	  font-size: 32px;
	  font-weight: 900;
	  color: #444444;
	  text-align: center;
	  margin-top: -1rem;
	}

	.white-line-central {
	    width: 200px;
	    height: 4px;
	    background-color: #fff;
	    margin-top: -18px;
	    position: absolute;
	    right: 0;
	}

	.kpi-cards {
		background-color: pink;
	  margin: 0 auto;
		padding-top: 60px;
	}

	.kpi-card h4 {
	  font-size: 42px;
	  font-weight: 900;
	  text-align: center;
	}

	.kpi-card h3 {
	  font-size: 21px;
	  font-weight: 900;
	  text-align: center;
	  margin-top: -1.5rem;
	}

	.tag-card {
		background-color: yellowgreen;
		width: 240px;
		height: 32px;
		margin: 0 auto;
	}
	/* END KPI SECTION */
}

/* END MOBILE-------------------------------------- */


@media (min-width: 768px) and (max-width: 1024px ) {
	/* TABLET*************************** */
	body{
		background-color: orchid;
	}

	/* VIDEO SECTION ****************** */
	.bg-video {
		height: 43vh;
		width: 100vw;
	}

	.header-video {
		height: 43vh;
		width: 100vw;

	}

	.header-video video {
		width: 100vw;
	}

	.header-overlay {
	  width: 100vw;
		height: 43vh;
		/* display: none; */
	}

	.video-content h1 {
		/* background-color: tomato; */
		font-size: 40px;
		line-height: 48px;
	}

	.video-content h2 {
		/* background-color: pink; */
		display: block;
	  font-size: 16PX;
	  line-height: 19px;
	  display: block;
		padding-bottom: 1rem;
	}

	.video-content {
		background-color: green;
		position: absolute;
		top: 120px;
	}

	.video-content a {
		/* background-color: tomato; */
		font-size: 16px;
		/* text-align: center; */
		margin-top: 0;
		width: 200px;
		height: 48px;
	}

	.button {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* END VIDEO SECTION */
	/* ABOUT SECTION*************************** */

	.about-block {
		background-color: yellowgreen;
		margin-top: 60px;
	}

	.about-img {
		background-color: teal;

	}

	.about-block img {
		width: 100%;
	  /* height: 100%; */
	  object-fit: cover;
	}

	.about-text {
		background-color: pink;
		margin-top: -65px;
	}

	.tag {
		height: 55px;
		justify-content: space-between;
		padding-top: 12px;
		margin-left: -30px;
		padding-left: 77px;;
	}

	.tag h3 {
		background-color: green;
		font-size: 16px;
		font-weight: bold;
	}

	.about-text h2 {
		/* color: tomato; */
		font-size: 32px;
		font-weight: 900;
		margin-top: -20px;
	}

	.about-text p {
		font-size: 16px;
		line-height: 20px;
	}

	.white-line {
	  height: 4px;
	  background-color: #fff;
	  margin-top: 0.4rem;
		width: 200px;
	}

	.about-block a {
		/* width: 250px; */
		height: 48px;
		font-size: 16px;
	}

	/* END ABOUT SECTION */

	/* KPI SECTION******************************** */

	.kpi-block {
	  margin-top: 60px;
	  padding: 40px 0;
	}


	.central-tag {
		height: 55px;
	}

	.central-tag p {
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		margin-top: -25px;
	}

	.white-line-central {
	    background-color: #fff;
			margin-top: -13px;
			width: 220px;
	}

	.tittle-text {
		/* background-color: salmon; */
		/* color: blue; */
		font-size: 35px;
		margin-top: -30px;
	}

	.kpi-cards {
	  background-color: lightblue;
	  padding: 0 0;
	  margin: 2.5rem auto 0 auto;
	}

	.kpi-card h4 {
		font-size: 36px;
	}

	.kpi-card h3 {
		/* background-color: tomato; */
		font-size: 24px;
		margin-top: -15px;
	}

	.kpi-card p {
		font-size: 16px;
	}









	/* END KPI SECTION  */

}

@media (min-width: 1024px) and (max-width: 1366px ) {
	body {
		background-color: orange;
	}


	.video-content {
		background-color: green;
		margin-top: 5rem;
	}

}
